[submodule "inspiring_leader"]
	path = inspiring_leader
	url = https://github.com/ninavostrikova/inspiring_leader.git
[submodule "safe_driving"]
	path = safe_driving
	url = https://github.com/ninavostrikova/safe_driving.git
[submodule "garbage_sorting"]
	path = garbage_sorting
	url = https://github.com/ninavostrikova/garbage_sorting.git
[submodule "garbage_sorting_eng"]
	path = garbage_sorting_eng
	url = https://github.com/ninavostrikova/garbage_sorting_eng
